page-products-virtual {
    ion-item {
        ion-row {
            height: 80px;
            ion-img {
                background-color: transparent;
            }
        }

        ion-label {
            p {
                white-space: normal !important;
            }
        }
    }
}
